<!DOCTYPE html>
<html>
<head>
</head>
<body>
<script>
    // Redirect to a blank page immediately
    

    // Make an AJAX request to the logout endpoint after a delay
    setTimeout(function() {
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "{% url 'org_logout' %}", true);
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                window.location.href = "{% url 'blank' %}";
                window.location.href = "{% url 'organiaztion_login' %}";
            }
        };
        xhr.send();
    }, 30); // Increased timeout to 3000 milliseconds (3 seconds)
</script>
</body>
</html>
